<ActionBar class="action-bar">
	<Label class="action-bar-title" text="List"></Label>
</ActionBar>

<StackLayout class="page page-content">
	<SearchBar
		hint="Search name or description"
		[text]="searchValue"
		(submit)="onSearchSubmit($event)"
	></SearchBar>
	<ListView [items]="items" class="list-group">
		<ng-template let-item="item">
			<FlexboxLayout flexDirection="row" class="list-group-item">
				<Switch
					[checked]="validateStatus(item)"
					class="switch"
					horizontalAlignment="center"
				></Switch>
				<Label
					[nsRouterLink]="['../item', item.id]"
					[text]="item.name"
					class="list-group-item"
				></Label>
				<Label
					alignSelf="flex-end"
					width="50"
					height="50"
					class="fa"
					text="&#xf1f8;"
				></Label>
			</FlexboxLayout>
		</ng-template>
	</ListView>
	<AbsoluteLayout>
		<Button
			text="+"
			(tab)="onClickAdd($event)"
			class="btn btn-primary"
			right="10"
			bottom="10"
		>
		</Button>
	</AbsoluteLayout>
</StackLayout>
